@charset "utf-8";
body{
margin:0px;
padding:0px;
}
#container {
	float: left;
	height: 400px;
	width: 600px;
	position: relative;
}
#alan {
	height: 400px;
	width: 600px;
	position: absolute;
	background-color: #E6E6E6;
}
#tahta {
	position: absolute;
	left: 0px;
	bottom: 10px;
	height: 10px;
	width: 600px;
	
	
}
#taslar {
	position: absolute;
	height: 300px;
	width: 600px;
	left: 0px;
	top: 0px;
	
}
